@media only screen and (max-width: 1225px) {
  .circle-left {
    left: -20%;
  }
}

@media only screen and (max-width: 1035px) {
  .circle-left {
    left: -30%;
  }
}
@media only screen and (max-width: 900px) {
  .circle-left,
  .circle-right {
    display: none;
  }
}
@media only screen and (max-width: 865px) {
  .square-1 {
    right: 10%;
  }
  .square-2 {
    left: 10%;
  }
  .rectangle {
    left: -3%;
  }
  .circle-small {
    right: -5%;
  }
}
@media only screen and (max-width: 900px) {
  .circle-small,
  .rectangle {
    display: none;
  }
  .square-1 {
    right: -20%;
    width: 200px;
    height: 200px;
  }
  .square-2 {
    left: -20%;
    width: 150px;
    height: 150px;
  }
}
@media only screen and (max-width: 490px) {
  .square-1,
  .square-2 {
    display: none;
  }
}
