:root {
  --data-afterInvest: "";
  --data-afterReturn: "";
  --primary-color: #387ed1;
  --primary-color-dark: #1769cc;
  --btn-submit: #7ab2ff;
  --theme-complement: #231824;
  --theme: rgb(243, 243, 243);
  --color-chart-init: #7ab2ff;
  --color-chart-ret: #e1f1ff;
  --data-intrest-sip: 0%;
  --data-period-sip: 0%;
  --data-intrest-mf: 0%;
  --data-period-mf: 0%;
  --data-intrest-rd: 0%;
  --data-period-rd: 0%;
  --data-intrest-rd: 0%;
  --data-period-rd: 0%;
  --data-init-sip: 0%;
  --data-ret-sip: 0%;
  --data-init-mf: 0%;
  --data-ret-mf: 0%;
  --data-init-rd: 0%;
  --data-ret-rd: 0%;
  --data-init-fd: 0%;
  --data-ret-fd: 0%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  margin: 0;
}
body {
  position: absolute;
  font-size: 20px;
  font-family: sans-serif;
  background-color: var(--theme);
  overflow-x: hidden;
}
/* General */
section {
  margin: 20px 0;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  max-height: fit-content;
}
a {
  text-decoration: none;
  color: #000;
}
button {
  border: none;
  background: none;
  cursor: pointer;
  transition: all 1s;
}
input {
  border-radius: 5px;
  border: none;
  height: 30px;
  padding: 5px;
  outline: none;
  margin: 0 7px;
}
input:disabled {
  background: none;
  color: #000;
}
label {
  font-weight: bold;
}
select {
  border-radius: 5px;
  border: none;
  height: 30px;
  outline: none;
}
h1 {
  display: grid;
  place-items: center;
  font-size: 2rem;
  text-align: center;
}
h2 {
  display: grid;
  place-items: center;
  color: #fff;
  font-size: 25px;
  text-align: center;
  padding: 15px;
}
.calc-box {
  display: flex;
  align-items: center;
  background-color: var(--primary-color);
  width: 80vw;
  margin: 3rem auto;
  height: fit-content;
  border-radius: 80px;
  box-shadow: -20px 20px 15px rgba(0, 0, 0, 0.3);
}

.note {
  color: #fff;
  font-size: 1rem;
}
.btn-back {
  background-color: rgba(240, 240, 240, 0.6);
  align-self: flex-start;
  border-radius: 50px;
  padding: 5px 15px;
  margin: 20px 0 0 20px;
  transition: all 0.5s ease;
}
.btn-back:hover {
  background-color: rgba(240, 240, 240, 0.8);
}
.mode-select {
  display: flex;
  align-items: center;
  width: fit-content;
}
.mode-select input {
  width: 35px;
}
.container {
  display: flex;
}
/* SCROLL BAR */
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: rgb(197, 192, 192);
}
::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: var(--primary-color);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color-dark);
}
/* Navigation */
.main-nav {
  display: flex;
  align-items: center;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  padding: 1rem 0;
}
.nav-links {
  width: 80vw;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
}
.nav-link {
  display: inline-block;
}
.nav-link a {
  color: #fff;
  font-weight: bold;
}
/* Invest */
.calculator {
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: fit-content;
  background-color: var(--primary-color);
  border-start-end-radius: 80px;
  border-end-start-radius: 80px;
  border-start-start-radius: 20px;
  border-end-end-radius: 20px;
  box-shadow: -20px 20px 15px rgba(0, 0, 0, 0.3);
  margin: 0 auto;
}
.select-type {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.btn-type {
  padding: 20px 0;
  font-weight: bold;
  opacity: 0.4;
}
.btn-type-active {
  /* background-color: rgba(0, 0, 0, 0.15); */
  color: #fff;
  opacity: 1;
  font-size: 110%;
}
.btn-type-active:hover {
  transform: none;
}
form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
form div {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  width: 60%;
}
button[type="submit"] {
  border-radius: 5px;
  padding: 10px 20px;
  color: #fff;
  font-weight: bold;
  background-color: var(--btn-submit);
}
button:hover {
  transform: scale(1.02);
}
input[type="radio"] {
  width: 25px;
  height: 25px;
}
.invest-form::after {
  content: attr(data-afterInvest);
  color: #fff;
  padding: 10px 0;
}

/* Asset Allocation */
.asset-allocation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.asset {
  border-radius: 15px;
  display: flex;
  width: 70%;
  justify-content: space-between;
  background-color: rgb(241, 241, 241);
  padding: 15px 30px;
  margin: 10px 0;
}
.asset img {
  width: 40px;
}
.asset p {
  text-align: right;
}
.asset-precious {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.asset-precious div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
.note-invest {
  padding: 10px 30px;
}
/* Student Invest */
.invest-student {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Returns AR/CAGR*/
.return {
  margin: 2rem auto;
}
.return-form::after {
  content: attr(data-afterReturn);
  color: #fff;
  padding: 10px 0;
}
.return div {
  width: 80%;
}
.btn-submit {
  width: 70%;
  padding: 15px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 25px;
  color: #fff;
  background-color: var(--btn-submit);
}
.result-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  width: 85%;
  margin: 20px 0;
  padding: 1rem;
}
.calc-row {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 0;
}
.result-box p {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
.reset {
  background-color: rgb(245, 245, 245);
  border-radius: 5px;
  border: 2px solid var(--btn-submit);
  color: var(--btn-submit);
  font-weight: bold;
  padding: 10px;
  margin: 20px 0;
}
.range-box,
.invest-box {
  width: 100%;
}
/* SIP/ Lumpsum */
.sip,
.mf,
.rd,
.fd {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 55%;
}

.chart-box {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}
.chart-def {
  display: flex;
  justify-content: space-evenly;
  width: 85%;
  padding: 1.5rem 0 0 0;
}
.chart-def span::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 20px;
  border-radius: 2px;
  margin: 0 10px;
  background: currentColor;
}
.chart {
  background: radial-gradient(
    circle closest-side,
    transparent 100%,
    var(--primary-color) 0
  );
  min-width: 300px;
  min-height: 300px;
  max-width: 450px;
  max-height: 450px;
}
.chart-sip {
  background: radial-gradient(
      circle closest-side,
      transparent 100%,
      var(--primary-color) 0
    ),
    conic-gradient(
      from 0deg,
      var(--color-chart-init) 0,
      var(--color-chart-init) var(--data-init-sip),
      var(--color-chart-ret) 0,
      var(--color-chart-ret) var(--data-ret-sip)
    );
}
.chart-mf {
  background: radial-gradient(
      circle closest-side,
      transparent 100%,
      var(--primary-color) 0
    ),
    conic-gradient(
      from 0deg,
      var(--color-chart-init) 0,
      var(--color-chart-init) var(--data-init-mf),
      var(--color-chart-ret) 0,
      var(--color-chart-ret) var(--data-ret-mf)
    );
}
.chart-fd {
  background: radial-gradient(
      circle closest-side,
      transparent 100%,
      var(--primary-color) 0
    ),
    conic-gradient(
      from 0deg,
      var(--color-chart-init) 0,
      var(--color-chart-init) var(--data-init-fd),
      var(--color-chart-ret) 0,
      var(--color-chart-ret) var(--data-ret-fd)
    );
}
.chart-rd {
  background: radial-gradient(
      circle closest-side,
      transparent 100%,
      var(--primary-color) 0
    ),
    conic-gradient(
      from 0deg,
      var(--color-chart-init) 0,
      var(--color-chart-init) var(--data-init-rd),
      var(--color-chart-ret) 0,
      var(--color-chart-ret) var(--data-ret-rd)
    );
}
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 20px;
  align-self: center;
  border-radius: 20px;
  outline: none;
  background: #fff;
  transition: all 0.5s ease;
}
#sip-intrest-slider {
  background: linear-gradient(
    90deg,
    var(--btn-submit) var(--data-intrest-sip),
    #fff var(--data-intrest-sip)
  );
}
#sip-period-slider {
  background: linear-gradient(
    90deg,
    var(--btn-submit) var(--data-period-sip),
    #fff var(--data-period-sip)
  );
}
#mf-intrest-slider {
  background: linear-gradient(
    90deg,
    var(--btn-submit) var(--data-intrest-mf),
    #fff var(--data-intrest-mf)
  );
}
#mf-period-slider {
  background: linear-gradient(
    90deg,
    var(--btn-submit) var(--data-period-mf),
    #fff var(--data-period-mf)
  );
}
#rd-intrest-slider {
  background: linear-gradient(
    90deg,
    var(--btn-submit) var(--data-intrest-rd),
    #fff var(--data-intrest-rd)
  );
}
#fd-period-slider {
  background: linear-gradient(
    90deg,
    var(--btn-submit) var(--data-period-fd),
    #fff var(--data-period-fd)
  );
}
#fd-intrest-slider {
  background: linear-gradient(
    90deg,
    var(--btn-submit) var(--data-intrest-fd),
    #fff var(--data-intrest-fd)
  );
}
#rd-period-slider {
  background: linear-gradient(
    90deg,
    var(--btn-submit) var(--data-period-rd),
    #fff var(--data-period-rd)
  );
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background-color: #fff;
  cursor: pointer;
}
.radio-box {
  width: 50%;
  align-items: center;
}
.range-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.range-box div {
  padding: 10px 0;
  width: 100%;
}

#tag {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.514);
}
/* Theme */
.theme {
  position: fixed;
  bottom: 1%;
  left: 20px;
  display: flex;
  width: 90px;
  opacity: 0.7;
  align-items: center;
  justify-content: space-between;
  z-index: 9999;
}
.mode {
  width: 20px;
}
#btn-theme[type="checkbox"] {
  position: relative;
  -webkit-appearance: none;
  background-color: #fff;
  box-shadow: 5px 1px 5px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  width: 40px;
  height: 20px;
  transition: all 0.5s ease-in;
  cursor: pointer;
}
#btn-theme:checked[type="checkbox"] {
  background-color: #000;
  transition: all 0.5s ease-in;
}
#btn-theme[type="checkbox"]::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  background-color: yellow;
  transform: scale(0.6);
  top: 0;
  left: 0;
  transition: all 0.5s ease;
}
#btn-theme:checked[type="checkbox"]::before {
  left: 20px;
}
/* Income Tax Calculator */
.it-calculator {
  width: 95vw;
  background-color: var(--primary-color);
  border-radius: 80px;
  box-shadow: -20px 20px 15px rgba(0, 0, 0, 0.3);
  padding: 1rem 0;
  margin: 3rem auto;
}
.it-form-asstage {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}
.it-form-asstage-div {
  display: flex;
  flex-direction: column;
  width: 400px;
}
.it-form-asstage-div select {
  margin: 10px 0;
  width: 110%;
}
.it-forms-box {
  width: 95%;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
}
.it-form-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: fit-content;
  border-radius: 10px;
}
.it-form-column p {
  font-size: 30px;
  font-weight: bold;
  background-color: #fff;
  width: 100%;
  text-align: center;
  padding: 5px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.it-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
}
.it-form input {
  margin: 10px 0;
  width: 100%;
}
.it-form div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 0;
  padding-right: 0;
}
.it-calculate-div {
  width: fit-content;
  margin: 0 auto;
}
.it-calculate {
  width: fit-content;
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  background-color: var(--btn-submit);
  border-radius: 10px;
  padding: 1rem 2rem;
  margin: 2rem 0 1rem 0;
}
.it-result-box {
  width: 50%;
  border-radius: 15px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 2rem;
  margin: 1rem auto;
}
/* Hidden */
.hidden {
  display: none;
}
